.button {
  margin-left: 10px;
  padding: 5px 10px;
  border-radius: 15px;
  background-color: #ff7f7f; /* Lighter red color */
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: #ff4c4c; /* Darker red color on hover */
}

.click {
  margin-left: 10px;
  padding: 5px 10px;
  border-radius: 15px;
  background-color: #7fffcc; /* Lighter red color */
  border: none;
  cursor: pointer;
}

.click:hover {
  background-color: #4cff7f; /* Darker red color on hover */
}

.bookList {
  
}

li {
  padding: 10px;
}

h1 {
  margin: 10rem;
}